@import '../../assets/variables.scss';

.btn {
  padding: 1rem 2rem;

  font-weight: bold;

  cursor: pointer;
  border: none;
  border-radius: 50px;

  text-decoration: none;

  color: $light;
  background-color: $primary-green;
  transition: background-color 0.1s ease-in-out;

  &:active {
    background-color: darken($primary-green, 15%);
  }
  &:hover:not(:active) {
    background-color: lighten($primary-green, 15%);
  }
}
